version: 2
jobs:
  build:
    docker:
    - image: circleci/openjdk:8-jdk-browsers
    steps:
    - checkout
    - run: sudo apt update
    - run: google-chrome --version
    - run: chmod +777 chromedriver
    - run: xvfb-run java -Dwebdriver.chrome.driver=chromedriver -jar selenium-server-standalone.jar >/dev/null 2>&1 &
    - run: chromedriver --version
    - run: java -version
    - run: java -jar src/Test.jar
    - run: jar -tvf src/Test.jar
   workflows:
  version: 2
  workflow:
    jobs:
  - build:
